//Color
$color-white:#fff;
$color-grey:#262626;
$color-orange:#ff6033;
$color-green:#00b1b1;
//Fonts
$font-Pacifico:'Pacifico',sans-serif;
$font-Raleway:'Raleway',sans-serif;
//Path
$path-img: '../img/';